<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 01 Data Types and Data Structures

# Introduction

This tutorial provides a basic introduction to the Python programming language. If you are new to Python, you should run the code snippets while reading this tutorial. If you are an advanced Python user, please feel free to skip this chapter.

# Basic Variable Types
The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

Strings in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (" ").

In [ ]:
my_string1 = 'Hi, my name is' #Declaración de la primera variable
my_string2 = "Francesca" #Declaración de la segunda variable
print(my_string1 + ' ' + my_string2) #Imprime la concatenación de ambas variables

Hi, my name is Francesca

An integer is a round number with no values after the decimal point.

In [ ]:
my_int = 10 #Declaración de la variable
print(my_int) #Imprime la varuable
print(type(my_int)) #Imprime el tipo de variable

10
<class 'int'>

The built-in function int() can convert a string into an integer.

In [ ]:
my_string = "100" #Declaración de la variable
print(type(my_string)) #Imprime el tipo de variable que se declaró
my_int = int(my_string) #Se convierte la variable de string a integer
print(type(my_int)) #Imprime el nuevo tipo de variable

<class 'str'>
<class 'int'>

A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float

In [ ]:
my_string = "100" #Se declara la variable
print(type(my_string)) #Imprime el tipo de la variable
my_float = float(my_string) #Convierte el tipo de variable de string a float y guarda el resultado en una nueva variable
print(type(my_float)) #Imprime el nuevo tipo de la variable
flo=3.54 #Se declara una nueva variable, la cual guarda un número decimal
print(type(flo)) #Imprime el nuevo tipo de la variable

<class 'str'>
<class 'float'>
<class 'float'>

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float.

In [ ]:
my_bool = False #Se declara una variable cuyo valor es False
print(my_bool) #Se imprime la variable
print(type(my_bool)) #Se imprime el tipo de variable

False
<class 'bool'>

A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter.

In [ ]:
#Se imprimen nombres de operaciones matemáticas con su respectivo ejemplo, estos ejemplos no deben estar entre comillas ya que son resultado de operaciones entre enteros.
print("Addition ", 95+23)
print("Subtraction ", 100-36)
print("Multiplication ", 6*8)
print("Division ", 2000/4)
print('Exponent', 9**3)

Addition  118
Subtraction  64
Multiplication  48
Division  500.0
Exponent 729

# Basic Math Operations

The basic math operators in python are demonstrated below:

In [ ]:
#Se imprimen los resultados de una misma división escrita de forma distinta
print(1/3)
print(1.0/3)

0.3333333333333333
0.3333333333333333

# Data Collections

## List
A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [ ]:
my_list = ['Números', 'Naturales', 1,2,3] #Se crea una lista de elementos
print(my_list) #Se imprime la lista

['Números', 'Naturales', 1, 2, 3]

The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n − 1. By the way, the length of a list can be obtained by the built-in function len().

In [ ]:
my_list = ['Números', 'Naturales', 1,2,3] #Se crea una lista de elementos
print(len(my_list)) #Se imprime la longitud de la lista creada
print(my_list[0]) #Se imprime el primer elemento de la lista
print(my_list[len(my_list) -1]) #Se imprime el último elemento de la lista

5
Números
3

You can also change the elements in the list by accessing an index and assigning a new value.

In [ ]:
my_list = ['Números','Naturales',1,2,3] #Se crea una lista de elementos
print(my_list) #Se imprime la lista
my_list[1] = 'Pares' #Se cambia el valor del segundo elemento de la lista por uno nuevo
my_list[2] = 2 #Se cambia el valor del tercer elemento de la lista por uno nuevo
my_list[3] = 4 #Se cambia el valor del cuarto elemento de la lista por uno nuevo
my_list[4] = 6 #Se cambia el valor del quinto elemento de la lista por uno nuevo
print(my_list) #Se imprime la nueva lista

['Números', 'Naturales', 1, 2, 3]
['Números', 'Pares', 2, 4, 6]

A list can also be sliced with a colon:

In [ ]:
my_list = ['Números','Naturales',1,2,3] #Se crea una lista de elementos
print(my_list[1:4]) #Se imprime la lista desde el segundo elemento hasta el cuarto

['Naturales', 1, 2]

The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 1, which refers to the second element:

In [ ]:
print(my_list[1:]) #La lista se imprime desde el segundo elemento hasta el final

['Naturales', 1, 2, 3]

And all elements up to but excluding index 3:

In [ ]:
print(my_list[:3]) #La lista se imprime desde el primer elemento hasta el tercero

If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [ ]:
my_list = ['Hello', 'my name is'] #Se crea una lista de elementos
print(my_list) #Se imprime la lista
my_list.append('Francesca') #Se agrega el elemento al final de la lista
print(my_list) #Se imprime la nueva lista

['Hello', 'my name is']
['Hello', 'my name is', 'Francesca']

In [ ]:
my_list.remove('Hello') #Se elimina el elemento de la lista
print(my_list) #Se imprime la nueva lista

['my name is', 'Francesca']

When there are repeated instances of "Hello", the first one is removed.

## Tuple
A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [ ]:
my_tuple = ('Hello','my name is','Francesca') #Se crea una tupla

Just like a list, a tuple can be sliced by using index.

In [ ]:
my_tuple = ('Hello','my name is','Francesca') #Se crea una tupla
print(my_tuple[1:]) #Se imprime la tupla desde el segundo elemento

('my name is', 'Francesca')

## Set
A set is an **unordered**  collection with **no duplicate** elements. The built-in function **set()** can be used to create sets.

In [ ]:
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG'] #Se crea una lista de elementos
stock_set = set(stock_list) #Se realiza un set para eliminar los elementos duplicados
print(stock_set) #Se imprime el set creado

{'IBM', 'GOOG', 'AAPL', 'FB', 'F'}

Set is an easy way to remove duplicate elements from a list.

##Dictionary
A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an **unordered** collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [ ]:
my_dic = {'AAPL':'AAPLE', 'FB':'FaceBook', 'GOOG':'Alphabet'} #Se crea un diccionario

In [ ]:
print(my_dic['GOOG']) #Se imprime el valor que esté guardado con la llave GOOG

Alphabet

After defining a dictionary, we can access any value by indicating its key in brackets.

In [ ]:
print(my_dic['GOOG']) #Se imprime el valor que esté guardado con la llave GOOG
my_dic['GOOG'] = 'Alphabet Company' #Se cambia el valor del elemento guardado con la llave GOOG
print(my_dic['GOOG']) #Se imprime el nuevo valor guardado con la llave GOOG

Alphabet
Alphabet Company

We can also change the value associated with a specified key:

In [ ]:
print(my_dic.keys()) #Se imprimen los nombres de las llaves del diccionario

dict_keys(['AAPL', 'FB', 'GOOG'])

The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

# Common String Operations
A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [ ]:
my_str = 'Welcome to QuantConnect' #Se guarda una cadena en una variable
print(my_str[8:]) #Se imprime la cadena a partir de su noveno elemento

to QuantConnect

There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters

In [ ]:
print('Counting the number of e appears in this sentence'.count('e')) #Se imprime el número de veces que se repite la letra e en la cadena que se ingresó
print('The first time e appears in this sentence'.find('e')) #Se imprime en qué índice aparece la letra e por primera vez
print('all the a in this sentence now becomes e'.replace('a','e')) #Se reeemplazan todas las a de la cadena por e.

7
2
ell the e in this sentence now becomes e

The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list:

In [ ]:
Time = '2016-04-01 09:43:00' #Se crea una cadena
splited_list = Time.split(' ') #Se usa la función split para convertir la cadena a una lista, cada elemento de la lista será cada uno de los que están separados por espacios en la cadena
print(splited_list) #Se imprime la nueva lista
date = splited_list[0] #Se guarda el primer elemento de la lista en la variable date
time = splited_list[1] #Se guarda el segundo elemento de la lista en la variable time
print(date) #Se imprime la variable date
print(time) #Se imprime la variable time
hour = time.split(':')[0] #La cadena time se convierte en una lista, en la cual cada elemento será cada uno de los que están separados por dos puntos en la cadena
print(hour) #Se imrpime la variable hour

['2016-04-01', '09:43:00']
2016-04-01
09:43:00
09

We can replace parts of a string by our variable. This is called string formatting.

In [ ]:
my_time = 'Hour: {}, Minute:{}'.format('09','43') #Se reemplazan las llaves de la cadena por los valores de las variables que se indican en la función format
print(my_time) #Se imprime la cadena

Hour: 09, Minute:43

Another way to format a string is to use the % symbol.

In [ ]:
#Se reemplaza el % por el valor que se indica al final, la letra que acompaña al % se refiere al tipo de dato que se va a ingresar
print('the pi number is %f'%3.14)
print('the pi number is %i'%3.14) #Al cambiar la f por la i va a convertir el valor de decimal a entero
print('%s to %s'%('Welcome','Quantconnect'))

the pi number is 3.140000
the pi number is 3
Welcome to Quantconnect

# Summary

Weave seen the basic data types and data structures in Python. It's important to keep practicing to become familiar with these data structures. In the next tutorial, we will cover for and while loops and logical operations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 02 Logical Operations and Loops

# Introduction
We discussed the basic data types and data structures in Python in the last tutorial. This chapter covers logical operations and loops in Python, which are very common in programming.

# Logical Operations
Like most programming languages, Python has comparison operators:

In [ ]:
#Se imprime true o false a las siguientes afirmaciones de comparación
print(1 == 0)
print(1 == 1)
print(1 != 0) # != quiere decir diferente
print(5 >= 5)
print(5 >= 6)

False
True
True
True
False

Each statement above has a boolean value, which must be either True or False, but not both.

We can combine simple statements P and Q to form complex statements using logical operators:

- The statement "P and Q" is true if both P and Q are true, otherwise it is false.
- The statement "P or Q" is false if both P and Q are false, otherwise it is true.
- The statement "not P" is true if P is false, and vice versa.

In [ ]:
#Se realizan comparaciones con los operadores lógicos and y or
#And: Si ambas afirmaciones son verdaderas, la sentencia es verdadera
#Or: Si ambas afirmaciones son falsas, la sentencia es falsa
print(2 > 1 and 3 > 2)
print(2 > 1 and 3 < 2) 
print(2 > 1 or 3 < 2)
print(2 < 1 and 3 < 2)

True
False
True
False

When dealing with a very complex logical statement that involves in several statements, we can use brackets to separate and combine them.

In [ ]:
#Se realizan comparaciones complejas, por lo cual priorizamos el orden con paréntesis, primero se resuelven estos, luego el resto
print((3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))
print(3 > 2 or 1 < 3 and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))

False
True

Comparing the above two statements, we can see that it's wise to use brackets when we make a complex logical statement.

# If Statement
An if statement executes a segment of code only if its condition is true. A standard if statement consists of 3 segments: if, elif and else.

```python
if statement1:
    # if the statement1 is true, execute the code here.
    # code.....
    # code.....
elif statement2:
    # if the statement 1 is false, skip the codes above to this part.
    # code......
    # code......
else:
    # if none of the above statements is True, skip to this part
    # code......
```

An if statement doesn't necessarily has elif and else part. If it's not specified, the indented block of code will be executed when the condition is true, otherwise the whole if statement will be skipped.

In [ ]:
i = 0
if i == 0: #Se ejecutan las funciones dentro del if sólo si las condiciones se cumplen
    print('i==0 is True')

i==0 is True

As we mentioned above, we can write some complex statements here:

In [ ]:
p = 1 > 0
q = 2 > 3
if p and q: #Se ejecutan las funciones dentro del if sólo si las condiciones se cumplen
    print('p and q is true')
elif p and not q: #Ejecutar las funciones si no se cumplieron las condiciones anteriores
    print('q is false')
elif q and not p: #Ejecutar las funciones si no se cumplieron las condiciones anteriores
    print('p is false')
else: #Ejecutar las funciones si ninguna de las condiciones anteriores se cumplieron
    print('None of p and q is true')

q is false

# Loop Structure
Loops are an essential part of programming. The "for" and "while" loops run a block of code repeatedly.

## While Loop
A "while" loop will run repeatedly until a certain condition has been met.

In [ ]:
i = 0
while i < 5: #Se ejecutan las funciones mientras se cumpla esta condición
    print(i)
    i += 1 #Se modifica la variable para que el ciclo no sea infinito

0
1
2
3
4

When making a while loop, we need to ensure that something changes from iteration to iteration so that the while loop will terminate, otherwise, it will run forever. Here we used i += 1 (short for i = i + 1) to make i larger after each iteration. This is the most commonly used method to control a while loop.

## For Loop
A "for" loop will iterate over a sequence of value and terminate when the sequence has ended.

In [ ]:
for i in [1,2,3,4,5]: #Se realiza el ciclo por cada elemento de la lista
    print(i)

1
2
3
4
5

We can also add if statements in a for loop. Here is a real example from our pairs trading algorithm:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = []
for i in stocks: #Por cada elemento de la lista stocks se ejecutan las siguientes funciones
    if i not in selected: #Si el elemento no se encuentra en la lista selected, se ejecuta la siguiente función
        new_list.append(i) #Se añade el elemento en la nueva lista
print(new_list) #Se imprime la nueva lista

['GOOG', 'FB', 'F', 'V', 'G', 'GE']

Here we iterated all the elements in the list 'stocks'. Later in this chapter, we will introduce a smarter way to do this, which is just a one-line code.

## Break and continue
These are two commonly used commands in a for loop. If "break" is triggered while a loop is executing, the loop will terminate immediately:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    print(i)
    if i == 'FB': #Si el elemento tiene el valor FB, el ciclo se detendrá
        break

AAPL
GOOG
IBM
FB

The "continue" command tells the loop to end this iteration and skip to the next iteration:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    if i == 'FB': #Si el elemento tiene el valor FB, esta iteración se detendrá y el ciclo continuará con el siguiente valor
        continue
    print(i)

AAPL
GOOG
IBM
F
V
G
GE

# List Comprehension
List comprehension is a Pythonic way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence. For example, if we want to create a list of squares using for loop:

In [ ]:
squares = []
for i in [1,2,3,4,5]: #Por cada elemento de la lista, se agregará a una nueva lista el cuadrado de este número
    squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25]

Using list comprehension:

In [ ]:
list = [1,2,3,4,5]
squares = [x**2 for x in list] #squares es la lista del cuadrado de cada elemento de la primera lista
print(squares)

[1, 4, 9, 16, 25]

Recall the example above where we used a for loop to select stocks. Here we use list comprehension:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = [x for x in stocks if x not in selected] #Se crea una lista que contiene los elementos que se encuentran en stocks, pero no se encuentran en selected.
print(new_list)

['GOOG', 'FB', 'F', 'V', 'G', 'GE']

A list comprehension consists of square brackets containing an expression followed by a "for" clause, and possibly "for" or "if" clauses. For example:

In [ ]:
#Se crean parejas ordenadas entre los elementos de dos listas, siempre y cuando x y y sean diferentes
print([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]) 
print([str(x)+' vs '+str(y) for x in ['AAPL','GOOG','IBM','FB'] for y in ['F','V','G','GE'] if x!=y])

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']

List comprehension is an elegant way to organize one or more for loops when creating a list.

# Summary
This chapter has introduced logical operations, loops, and list comprehension. In the next chapter, we will introduce functions and object-oriented programming, which will enable us to make our codes clean and versatile.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 03 Functions and Objective-Oriented Programming

# Introduction

In the last tutorial we introduced logical operations, loops and list comprehension. We will introduce functions and object-oriented programming in this chapter, which will enable us to build complex algorithms in more flexible ways.

# Functions
A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [ ]:
def product(x,y): #Creamos una función que retorne el producto de dos números
    return x*y
print(product(2,3))
print(product(5,10))

6
50

The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters:

In [ ]:
def say_hi(): #Creamos una función que no requiere que se le ingresen parámetros
    print('Welcome to QuantConnect')
say_hi()

Welcome to QuantConnect

# Built-in Function
**range()** is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [ ]:
#range(start, stop, step)
print(range(10))
print(range(1,11))
print(range(1,11,2))
print("\n") #Imprime un salto de línea
for i in range(0,20,2): #Imprimir los números pares de 0 a 20
  print(i)

range(0, 10)
range(1, 11)
range(1, 11, 2)


0
2
4
6
8
10
12
14
16
18

**len()** is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print('The length of tickers is {}'.format(len(tickers))) #Se imprime la longitud de la lista
for i in range(len(tickers)): #Se realiza el ciclo por cada elemento en el rango de 0 a la longitud de la lista, es decir recorre la lista
    print(tickers[i])

The length of tickers is 8
AAPL
GOOG
IBM
FB
F
V
G
GE

Note: If you want to print only the tickers without those numbers, then simply write "for ticker in tickers: print ticker"

**map(**) is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

Because list at the moment is [1,2,3,4,5] and overwriting list() from builtins we del list

In [ ]:
list=[1,2,3,4,5]
print(list)
del list #Eliminamos la lista creada anteriormente
print(list)

[1, 2, 3, 4, 5]
<class 'list'>

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
list(map(len,tickers)) #La función map realiza una misma función para cada elemento de una lista

[4, 4, 3, 2, 1, 1, 1, 2]

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print(list(map(len,tickers))) #La función map realiza una misma función para cada elemento de una lista

[4, 4, 3, 2, 1, 1, 1, 2]

The **lambda operator** is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [ ]:
#La función lambda permite crear una función que se debe hacer de forma repetitiva en una sola parte del código
list(map(lambda x: x**2, range(10))) #Lista de los cuadrados en el rango de 0 a 9

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

map() can be applied to more than one list. The lists have to have the same length.

In [ ]:
list(map(lambda x, y: x+y, [1,2,3,4,5],[5,4,3,2,1])) #Se realiza la suma de Lista1[n] y Lista2[n]

[6, 6, 6, 6, 6]

**sorted()** takes a list or set and returns a new sorted list

In [ ]:
sorted([5,2,3,4,1]) #Sorted organiza los elementos de una lista de menor a mayor

[1, 2, 3, 4, 5]

We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [ ]:
#Se organiza una lista de precios de menor a mayor precio
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1]) #La llave especifíca que el valor a ordenar es el precio

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [ ]:
#Se organiza una lista de precios de mayor a menor precio
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1],reverse = True) #Para que el orden sea descendente se agrega el parámetro reverse=true

[('GOOG', 911.71), ('FB', 150), ('AAPL', 144.09), ('WMT', 75.32), ('MSFT', 69)]

Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [ ]:
#.sort ordena la lista, pero la guarda en la misma variable, cuenta con los mismos parámetros que sorted, (key y reverse)
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
price_list.sort(key = lambda x: x[1], reverse = True)
print(price_list)

[('GOOG', 911.71), ('FB', 150), ('AAPL', 144.09), ('WMT', 75.32), ('MSFT', 69)]

# Object-Oriented Programming
Python is an object-oriented programming language. It's important to understand the concept of "objects" because almost every kind of data from QuantConnect API is an object.

## Class
A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an instance of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called attributes, and the functions which are associated with the object are called methods.

For example, as mentioned above, a list is an object of the "list" class, and it has a method list.sort().

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named "Stock" here:

In [21]:
#Se crea la clase stock con los métodos init, update y print_return
class stock:
    def __init__(self, ticker, open, close, volume): #Para crear un objeto de esta clase se inicializa con los parámetros que se necesitan
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1
 
    def update(self, open, close): #Se actualizan los datos de algunos argumentos de la clase
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1
 
    def print_return(self): #Se imprime la tasa de rendimiento
        print(self.rate_return)

The "Stock" class has attributes "ticker", "open", "close", "volume" and "rate_return". Inside the class body, the first method is called __init__, which is a special method. When we create a new instance of the class, the __init__ method is immediately executed with all the parameters that we pass to the "Stock" object. The purpose of this method is to set up a new "Stock" object using data we have provided.

Here we create two Stock objects named "apple" and "google".

In [40]:
#Se crean instancias de la clase stock
apple = stock('AAPL', 143.69, 144.09, 20109375)
google = stock('GOOG', 898.7, 911.7, 1561616)

Stock objects also have two other methods: update() and print_return(). We can access the attribues of a Stock object and call its methods:

In [45]:
#Llamamos a los métodos que necesitamos para los objetos ya creados, se pone el nombre del objeto con un punto seguido del método a usar
print(apple.ticker)
google.print_return()
google.update(912.8,913.4)
google.print_return()

AAPL
0.0006573181419806673
0.0006573181419806673

By calling the update() function, we updated the open and close prices of a stock. Please note that when we use the attributes or call the methods **inside a class**, we need to specify them as self.attribute or self.method(), otherwise Python will deem them as global variables and thus raise an error.

We can add an attribute to an object anywhere:

In [46]:
apple.ceo = 'Tim Cook' #Se añade el atributo ceo
apple.ceo

'Tim Cook'

We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [47]:
dir(apple) #La función dir nos indica qué atributos y métodos posee nuestro objeto

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

## Inheritance
Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Stock":

In [52]:
class child(stock): #Se crea una clase hijo de la clase stock
    def __init__(self,name):
        self.name = name

In [51]:
aa = child('aa') #La clase hijo tiene los mismo atributos que la clase stock
print(aa.name)
aa.update(100,102)
print(aa.open)
print(aa.close)
print(aa.print_return())

aa
100
102
0.020000000000000018
None

As seen above, the new class Child has inherited the methods from Stock.

#Summary

In this chapter we have introduced functions and classes. When we write a QuantConnect algorithm, we would define our algorithm as a class (QCAlgorithm). This means our algorithm inherited the QC API methods from QCAlgorithm class.

In the next chapter, we will introduce NumPy and Pandas, which enable us to conduct scientific calculations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 04 NumPy and Basic Pandas

# Introduction

Now that we have introduced the fundamentals of Python, it's time to learn about NumPy and Pandas.

# NumPy
NumPy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. It also has strong integration with Pandas, which is another powerful tool for manipulating financial data.

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [54]:
import numpy as np #Importamos la libería numpy y la llamamos np

## Basic NumPy Arrays
A NumPy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. Here we make an array by passing a list of Apple stock prices:

In [59]:
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list) #Convertimos la lista en un arreglo de tipo numpy
print(price_array, type(price_array))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

Notice that the type of array is "ndarray" which is a multi-dimensional array. If we pass np.array() a list of lists, it will create a 2-dimensional array.

In [64]:
Ar = np.array([[1,3,1],[2,5,6]]) #Al convertir una lista de listas en un arreglo, esta se convierte en un arreglo bidimensional
print(Ar, type(Ar))

[[1 3 1]
 [2 5 6]] <class 'numpy.ndarray'>

We get the dimensions of an ndarray using the .shape attribute:

In [65]:
print(Ar.shape) #shape nos permite saber las dimensiones del arreglo (filas,columnas)

(2, 3)

If we create an 2-dimensional array (i.e. matrix), each row can be accessed by index:

In [66]:
#Al tener una matriz, podemos acceder a cada fila por su índice
print(Ar[0])
print(Ar[1])

[1 3 1]
[2 5 6]

If we want to access the matrix by column instead:

In [68]:
#Para acceder a las columnas usamos Array[:,i]
print('the first column: ', Ar[:,0])
print('the second column: ', Ar[:,1])
print('the third column: ', Ar[:,2])

the first column:  [1 2]
the second column:  [3 5]
the third column:  [1 6]

## Array Functions
Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [72]:
#Con la función log de numpy podemos hallar el logaritmo natural de cada elemento del arreglo
print(np.log(price_array))
print("\n")
print(np.log(Ar))

[4.96793654 4.98244156 4.9675886  4.96995218 4.96633504 4.96018375]


[[0.         1.09861229 0.        ]
 [0.69314718 1.60943791 1.79175947]]

Other functions return a single value:

In [74]:
print(np.mean(price_array)) #Hallar el promedio
print(np.std(price_array)) #Hallar la desviación estándar
print(np.sum(price_array)) #Hallar la suma de todos los elementos
print(np.max(price_array)) #Hallar el máximo valor del arreglo
print("\n")
print(np.mean(Ar)) #Hallar el promedio
print(np.std(Ar)) #Hallar la desviación estándar
print(np.sum(Ar)) #Hallar la suma de todos los elementos
print(np.max(Ar)) #Hallar el máximo valor del arreglo

143.89666666666668
0.9673790478515796
863.38
145.83


3.0
1.9148542155126762
18
6

The functions above return the mean, standard deviation, total and maximum value of an array.

# Pandas
Pandas is one of the most powerful tools for dealing with financial data. 

First we need to import Pandas:

In [76]:
import pandas as pd #Importamos la librería pandas y la llamamos pd

## Series
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, float, Python object, etc.)

We create a Series by calling pd.Series(data), where data can be a dictionary, an array or just a scalar value.

In [77]:
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s = pd.Series(price) #Convertimos la lista en un array con etiquetas de eje
s

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

We can customize the indices of a new Series:

In [78]:
s = pd.Series(price,index = ['a','b','c','d','e','f']) #En las series podemos cambiar el nombre de nuestros índices
s

a    143.73
b    145.83
c    143.68
d    144.02
e    143.50
f    142.62
dtype: float64

Or we can change the indices of an existing Series:

In [79]:
s.index = [6,5,4,3,2,1] #Cambiamos los índices de una serie que ya había sido creada
s

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64

Series is like a list since it can be sliced by index:

In [81]:
print(s[1:]) #Imprimimos la serie desde el segundo elemento
print(s[:-2]) #Imprimimos la serie hasta el antepenúltimo elemento

5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
6    143.73
5    145.83
4    143.68
3    144.02
dtype: float64

Series is also like a dictionary whose values can be set or fetched by index label:

In [83]:
print(s[4])
s[4] = 0 #Cambiamos el valor del elemento guardado con el índice 4
print(s)

0.0
6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
dtype: float64

Series can also have a name attribute, which will be used when we make up a Pandas DataFrame using several series.

In [85]:
s = pd.Series(price, name = 'Apple Price List') #Podemos llamar a las series con un nombre
print(s)
print(s.name)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
Name: Apple Price List, dtype: float64
Apple Price List

We can get the statistical summaries of a Series:

In [86]:
print(s.describe()) #Describe nos muestra un resumen estadístico de nuestra serie

count      6.000000
mean     143.896667
std        1.059711
min      142.620000
25%      143.545000
50%      143.705000
75%      143.947500
max      145.830000
Name: Apple Price List, dtype: float64

## Time Index
Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [96]:
#Con la función date_range creamos índices de fechas desde una fecha que queramos hasta que se termine la serie, y podemos modificar con qué frecuencia varía
time_index = pd.date_range('2017-01-01',periods = len(s),freq = 'D')
print(time_index)
s.index = time_index #Los nuevos índices serán las fechas establecidas
print(s)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01    143.73
2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
2017-01-06    142.62
Freq: D, Name: Apple Price List, dtype: float64

Series are usually accessed using the iloc[] and loc[] methods. iloc[] is used to access elements by integer index, and loc[] is used to access the index of the series.

iloc[] is necessary when the index of a series are integers, take our previous defined series as example:

In [93]:
s.index = [6,5,4,3,2,1]
print(s)
print(s[1]) #Imprime el valor del elemento guardado con el índice 1

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
Name: Apple Price List, dtype: float64
142.62

If we intended to take the second element of the series, we would make a mistake here, because the index are integers. In order to access to the element we want, we use iloc[] here:

In [94]:
print(s.iloc[1]) #Imprime el segundo elemento de la serie

145.83

While working with time series data, we often use time as the index. Pandas provides us with various methods to access the data by time index

In [98]:
s.index = time_index
print(s['2017-01-03']) #Imprime el valor del elemento con ese índice de tiempo

143.68

We can even access to a range of dates:

In [99]:
print(s['2017-01-02':'2017-01-05']) #Imprime los valores de los elementos en ese rango de tiempo

2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
Freq: D, Name: Apple Price List, dtype: float64

Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:

In [100]:
#Imprimimos los elementos que necesitemos según las condiciones estadísticas que cumplan.
print(s[s < np.mean(s)] )
print([(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])

2017-01-01    143.73
2017-01-03    143.68
2017-01-05    143.50
2017-01-06    142.62
Name: Apple Price List, dtype: float64
[2017-01-01    False
2017-01-02    False
2017-01-03    False
2017-01-04     True
2017-01-05    False
2017-01-06    False
Freq: D, Name: Apple Price List, dtype: bool]

As demonstrated, we can use logical operators like & (and), | (or) and ~ (not) to group multiple conditions.

# Summary
Here we have introduced NumPy and Pandas for scientific computing in Python. In the next chapter, we will dive into Pandas to learn resampling and manipulating Pandas DataFrame, which are commonly used in financial data analysis.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png"> <img style="display: block; margin: auto;" alt="photo" src="https://www.marketing-branding.com/wp-content/uploads/2020/07/google-colaboratory-colab-guia-completa.jpg " width="50" height="50">
<img style="display: block; margin: auto;" alt="photo" src="https://upload.wikimedia.org/wikipedia/commons/d/da/Yahoo_Finance_Logo_2019.svg" width="50" height="50">  

Quantconnect -> Google Colab with Yahoo Finance data

Introduction to Financial Python
</div>

# 05 Pandas-Resampling and DataFrame

# Introduction
In the last chapter we had a glimpse of Pandas. In this chapter we will learn about resampling methods and the DataFrame object, which is a powerful tool for financial data analysis.

# Fetching Data
Here we use the Yahoo Finance to retrieve data.

In [1]:
!pip install yfinance #Instalamos yfinance para recuperar datos

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.74)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.9.1)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.28.1)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.2.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.6.15)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)

In [3]:
import yfinance as yf

aapl = yf.Ticker("AAPL")

# get stock info
print(aapl.info)

# get historical market data
aapl_table = aapl.history(start="2016-01-01",  end="2017-12-31")
aapl_table

{'zip': '95014', 'sector': 'Technology', 'fullTimeEmployees': 154000, 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. In addition, the company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; AirPods Max, an over-ear wireless headphone; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, and iPod touch. Further, it provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. Additionally, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was incorporated in 1977 and is headquartered in Cupertino, California.', 'city': 'Cupertino', 'phone': '408 996 1010', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'https://www.apple.com', 'maxAge': 1, 'address1': 'One Apple Park Way', 'industry': 'Consumer Electronics', 'ebitdaMargins': 0.3343, 'profitMargins': 0.25709, 'grossMargins': 0.43313998, 'operatingCashflow': 118224003072, 'revenueGrowth': 0.019, 'operatingMargins': 0.30533, 'ebitda': 129556996096, 'targetLowPrice': 136, 'recommendationKey': 'buy', 'grossProfits': 152836000000, 'freeCashflow': 83344621568, 'targetMedianPrice': 185, 'currentPrice': 171.52, 'earningsGrowth': -0.077, 'currentRatio': 0.865, 'returnOnAssets': 0.22204, 'numberOfAnalystOpinions': 44, 'targetMeanPrice': 183.76, 'debtToEquity': 205.984, 'returnOnEquity': 1.62816, 'targetHighPrice': 220, 'totalCash': 48230998016, 'totalDebt': 119691001856, 'totalRevenue': 387541991424, 'totalCashPerShare': 3.001, 'financialCurrency': 'USD', 'revenuePerShare': 23.732, 'quickRatio': 0.697, 'recommendationMean': 1.9, 'exchange': 'NMS', 'shortName': 'Apple Inc.', 'longName': 'Apple Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'AAPL', 'messageBoardId': 'finmb_24937', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 7.297, 'beta3Year': None, 'enterpriseToEbitda': 21.828, '52WeekChange': 0.14568162, 'morningStarRiskRating': None, 'forwardEps': 6.44, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 16070800384, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 3.61, 'sharesShort': 107535584, 'sharesPercentSharesOut': 0.0067000003, 'fundFamily': None, 'lastFiscalYearEnd': 1632528000, 'heldPercentInstitutions': 0.59714, 'netIncomeToCommon': 99632996352, 'trailingEps': 6.05, 'lastDividendValue': 0.23, 'SandP52WeekChange': -0.056043804, 'priceToBook': 47.512466, 'heldPercentInsiders': 0.0007, 'nextFiscalYearEnd': 1695600000, 'yield': None, 'mostRecentQuarter': 1656115200, 'shortRatio': 1.47, 'sharesShortPreviousMonthDate': 1656547200, 'floatShares': 16053234880, 'beta': 1.230174, 'enterpriseValue': 2827915362304, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '4:1', 'legalType': None, 'lastDividendDate': 1659657600, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': -0.106, 'priceToSalesTrailing12Months': 7.1126842, 'dateShortInterest': 1659052800, 'pegRatio': 3.01, 'ytdReturn': None, 'forwardPE': 26.633541, 'lastCapGain': None, 'shortPercentOfFloat': 0.0067000003, 'sharesShortPriorMonth': 112994371, 'impliedSharesOutstanding': 0, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 174.15, 'regularMarketOpen': 173.03, 'twoHundredDayAverage': 160.461, 'trailingAnnualDividendYield': 0.005110537, 'payoutRatio': 0.1471, 'volume24Hr': None, 'regularMarketDayHigh': 173.74, 'navPrice': None, 'averageDailyVolume10Day': 64119090, 'regularMarketPreviousClose': 174.15, 'fiftyDayAverage': 151.3188, 'trailingAnnualDividendRate': 0.89, 'open': 173.03, 'toCurrency': None, 'averageVolume10days': 64119090, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.92, 'exDividendDate': 1659657600, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 171.3101, 'currency': 'USD', 'trailingPE': 28.350412, 'regularMarketVolume': 70346295, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2756463820800, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 76763275, 'dayLow': 171.3101, 'ask': 170.75, 'askSize': 900, 'volume': 70346295, 'fiftyTwoWeekHigh': 182.94, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.05, 'fiftyTwoWeekLow': 129.04, 'bid': 170.71, 'tradeable': False, 'dividendYield': 0.0054, 'bidSize': 900, 'dayHigh': 173.74, 'coinMarketCapLink': None, 'regularMarketPrice': 171.52, 'preMarketPrice': None, 'logo_url': 'https://logo.clearbit.com/apple.com', 'trailingPegRatio': 3.1143}

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2016-01-04,23.523348,24.156079,23.383506,24.151493,270597600,0.0,0
2016-01-05,24.243199,24.266123,23.477504,23.546278,223164000,0.0,0
2016-01-06,23.053387,23.468331,22.895205,23.085482,273829600,0.0,0
2016-01-07,22.622396,22.954808,22.106584,22.111168,324377600,0.0,0
2016-01-08,22.592595,22.720974,22.182237,22.228086,283192000,0.0,0
...,...,...,...,...,...,...,...
2017-12-22,41.594672,41.770882,41.551813,41.673252,65397600,0.0,0
2017-12-26,40.670779,40.830318,40.404083,40.616013,132742000,0.0,0
2017-12-27,40.504094,40.666013,40.411228,40.623154,85992800,0.0,0
2017-12-28,40.718407,40.920810,40.594584,40.737457,65920800,0.0,0
2017-12-29,40.604100,40.620767,40.294545,40.296925,103999600,0.0,0

We will create a Series named "aapl" whose values are Apple's daily closing prices, which are of course indexed by dates:

In [6]:
aapl = aapl_table['Close']['2017'] #Se crea una tabla con los precios de cierre diarios en 2017

In [7]:
print(aapl)

Date
2017-01-03    27.219835
2017-01-04    27.189367
2017-01-05    27.327633
2017-01-06    27.632296
2017-01-09    27.885389
                ...
2017-12-22    41.673252
2017-12-26    40.616013
2017-12-27    40.623154
2017-12-28    40.737457
2017-12-29    40.296925
Name: Close, Length: 251, dtype: float64

Recall that we can fetch a specific data point using series['yyyy-mm-dd']. We can also fetch the data in a specific month using series['yyyy-mm'].

In [9]:
print(aapl['2017-3']) #Obtenemos los datos de marzo de 2017

Date
2017-03-01    32.901909
2017-03-02    32.706562
2017-03-03    32.899567
2017-03-06    32.796013
2017-03-07    32.838367
2017-03-08    32.715984
2017-03-09    32.640656
2017-03-10    32.748932
2017-03-13    32.763039
2017-03-14    32.713623
2017-03-15    33.059616
2017-03-16    33.113743
2017-03-17    32.948990
2017-03-20    33.294979
2017-03-21    32.913689
2017-03-22    33.285564
2017-03-23    33.167885
2017-03-24    33.101974
2017-03-27    33.158466
2017-03-28    33.845726
2017-03-29    33.921051
2017-03-30    33.876343
2017-03-31    33.812794
Name: Close, dtype: float64

In [10]:
aapl['2017-2':'2017-4'] #Obtenemos los datos desde febrero hasta abril de 2017

Date
2017-02-01    30.172651
2017-02-02    30.121098
2017-02-03    30.249989
2017-02-06    30.533546
2017-02-07    30.824150
                ...
2017-04-24    33.808075
2017-04-25    34.017555
2017-04-26    33.817493
2017-04-27    33.843376
2017-04-28    33.810432
Name: Close, Length: 61, dtype: float64

.head(N) and .tail(N) are methods for quickly accessing the first or last N elements.

In [11]:
print(aapl.head(5)) #Accedemos a los 5 primeros datos
print(aapl.tail(10)) #Accedmos a los 10 últimos datos

Date
2017-01-03    27.219835
2017-01-04    27.189367
2017-01-05    27.327633
2017-01-06    27.632296
2017-01-09    27.885389
Name: Close, dtype: float64
Date
2017-12-15    41.425613
2017-12-18    42.008999
2017-12-19    41.561333
2017-12-20    41.516094
2017-12-21    41.673252
2017-12-22    41.673252
2017-12-26    40.616013
2017-12-27    40.623154
2017-12-28    40.737457
2017-12-29    40.296925
Name: Close, dtype: float64

# Resampling
**_series.resample(freq)_** is a class called "DatetimeIndexResampler" which groups data in a Series object into regular time intervals. The argument "freq" determines the length of each interval.

**_series.resample.mean()_** is a complete statement that groups data into intervals, and then compute the mean of each interval. For example, if we want to aggregate the daily data into monthly data by mean:

In [12]:
by_month = aapl.resample('M').mean() #Hallamos el promedio de los datos mensualmente
print(by_month)

Date
2017-01-31    28.021312
2017-02-28    31.430156
2017-03-31    33.096760
2017-04-30    33.630811
2017-05-31    35.924380
2017-06-30    34.938205
2017-07-31    35.048843
2017-08-31    37.686053
2017-09-30    37.395191
2017-10-31    37.444725
2017-11-30    41.004148
2017-12-31    40.930681
Freq: M, Name: Close, dtype: float64

We can also aggregate the data by week:

In [14]:
by_week = aapl.resample('W').mean() #Realiza el promedio de los datos semanalmente
print(by_week.head(10)) #Muestra los 10 primeros valores

Date
2017-01-08    27.342283
2017-01-15    27.941164
2017-01-22    28.108606
2017-01-29    28.394866
2017-02-05    29.497253
2017-02-12    30.913056
2017-02-19    31.769335
2017-02-26    32.186402
2017-03-05    32.595939
2017-03-12    32.747990
Freq: W-SUN, Name: Close, dtype: float64

We can also aggregate the data by month with max:

In [16]:
aapl.resample('M').max() #Muestra el máximo valor de cada mes

Date
2017-01-31    28.579063
2017-02-28    32.271126
2017-03-31    33.921051
2017-04-30    34.074043
2017-05-31    36.892399
2017-06-30    36.738781
2017-07-31    36.268471
2017-08-31    38.911674
2017-09-30    38.923538
2017-10-31    40.107498
2017-11-30    41.815819
2017-12-31    42.008999
Freq: M, Name: Close, dtype: float64

We can choose almost any frequency by using the format 'nf', where 'n' is an integer and 'f' is M for month, W for week and D for day.

In [18]:
#Usamos la frecuencia que queramos según un número y si será mensual, semanal o diario
three_day = aapl.resample('3D').mean() #Realiza el promedio de los valores cada 3 días
two_week = aapl.resample('2W').mean() #Realiza el promedio de los valores cada 2 semanas
two_month = aapl.resample('2M').mean() #Realiza el promedio de los valores cada 2 meses


print(three_day)
print(two_week)
print(two_month )

Date
2017-01-03    27.245612
2017-01-06    27.632296
2017-01-09    27.954131
2017-01-12    27.921715
2017-01-15    28.122080
                ...
2017-12-17    41.785166
2017-12-20    41.620866
2017-12-23          NaN
2017-12-26    40.658875
2017-12-29    40.296925
Freq: 3D, Name: Close, Length: 121, dtype: float64
Date
2017-01-08    27.342283
2017-01-22    28.015583
2017-02-05    28.946060
2017-02-19    31.341195
2017-03-05    32.413923
2017-03-19    32.833896
2017-04-02    33.437847
2017-04-16    33.661107
2017-04-30    33.603545
2017-05-14    35.498713
2017-05-28    36.292809
2017-06-11    36.311534
2017-06-25    34.336637
2017-07-09    34.074196
2017-07-23    35.082286
2017-08-06    36.070652
2017-08-20    37.692905
2017-09-03    38.244487
2017-09-17    38.069384
2017-10-01    36.635583
2017-10-15    36.865020
2017-10-29    37.546922
2017-11-12    40.803593
2017-11-26    40.974773
2017-12-10    40.639342
2017-12-24    41.388940
2018-01-07    40.568387
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2017-01-31    28.021312
2017-03-31    32.342820
2017-05-31    34.861506
2017-07-31    34.990890
2017-09-30    37.550768
2017-11-30    39.183048
2018-01-31    40.930681
Freq: 2M, Name: Close, dtype: float64

Besides the mean() method, other methods can also be used with the resampler:

In [19]:
std = aapl.resample('W').std() #Halla la desviación estándar semanalmente
max = aapl.resample('W').max() #Halla el valor máximo semanalmente
min = aapl.resample('W').min() #Halla el valor mínimo semanalmente


print(std)
print(max)
print(min)

Date
2017-01-08    0.202236
2017-01-15    0.072124
2017-01-22    0.025410
2017-01-29    0.243919
2017-02-05    0.938005
2017-02-12    0.250598
2017-02-19    0.230107
2017-02-26    0.059008
2017-03-05    0.338195
2017-03-12    0.075862
2017-03-19    0.176846
2017-03-26    0.156386
2017-04-02    0.318026
2017-04-09    0.127969
2017-04-16    0.211290
2017-04-23    0.173695
2017-04-30    0.089524
2017-05-07    0.234323
2017-05-14    0.351010
2017-05-21    0.533106
2017-05-28    0.060056
2017-06-04    0.279657
2017-06-11    0.616578
2017-06-18    0.380434
2017-06-25    0.128175
2017-07-02    0.262641
2017-07-09    0.158006
2017-07-16    0.402024
2017-07-23    0.124293
2017-07-30    0.382298
2017-08-06    0.919240
2017-08-13    0.464860
2017-08-20    0.432829
2017-08-27    0.274231
2017-09-03    0.250321
2017-09-10    0.379514
2017-09-17    0.292504
2017-09-24    0.731099
2017-10-01    0.352866
2017-10-08    0.203714
2017-10-15    0.118072
2017-10-22    0.514120
2017-10-29    0.676665
2017-11-05    0.557565
2017-11-12    0.189908
2017-11-19    0.433765
2017-11-26    0.559907
2017-12-03    0.425065
2017-12-10    0.072721
2017-12-17    0.204122
2017-12-24    0.193042
2017-12-31    0.189336
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.632296
2017-01-15    28.063494
2017-01-22    28.122080
2017-01-29    28.579063
2017-02-05    30.249989
2017-02-12    31.167263
2017-02-19    31.943977
2017-02-26    32.271126
2017-03-05    32.901909
2017-03-12    32.838367
2017-03-19    33.113743
2017-03-26    33.294979
2017-04-02    33.921051
2017-04-09    34.074043
2017-04-16    33.697456
2017-04-23    33.525642
2017-04-30    34.017555
2017-05-07    35.060230
2017-05-14    36.892399
2017-05-21    36.797859
2017-05-28    36.393726
2017-06-04    36.738781
2017-06-11    36.719875
2017-06-18    34.644817
2017-06-25    34.585735
2017-07-02    34.465210
2017-07-09    34.075245
2017-07-16    35.223843
2017-07-23    35.691803
2017-07-30    36.268471
2017-08-06    37.138195
2017-08-13    38.064629
2017-08-20    38.342251
2017-08-27    37.957870
2017-09-03    38.923538
2017-09-10    38.456131
2017-09-17    38.318523
2017-09-24    37.661278
2017-10-01    36.593586
2017-10-08    36.868816
2017-10-15    37.248444
2017-10-22    38.074131
2017-10-29    38.686279
2017-11-05    40.928455
2017-11-12    41.815819
2017-11-19    41.425613
2017-11-26    41.663727
2017-12-03    41.454189
2017-12-10    40.432652
2017-12-17    41.425613
2017-12-24    42.008999
2017-12-31    40.737457
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.189367
2017-01-15    27.885389
2017-01-22    28.070528
2017-01-29    28.115049
2017-02-05    28.438456
2017-02-12    30.533546
2017-02-19    31.372028
2017-02-26    32.134628
2017-03-05    32.228764
2017-03-12    32.640656
2017-03-19    32.713623
2017-03-26    32.913689
2017-04-02    33.158466
2017-04-09    33.737473
2017-04-16    33.198486
2017-04-23    33.111404
2017-04-30    33.808075
2017-05-07    34.488293
2017-05-14    36.013466
2017-05-21    35.509819
2017-05-28    36.240101
2017-06-04    36.103024
2017-06-11    35.209675
2017-06-18    33.623837
2017-06-25    34.271408
2017-07-02    33.957077
2017-07-09    33.732555
2017-07-16    34.283234
2017-07-23    35.346748
2017-07-30    35.332565
2017-08-06    35.150589
2017-08-13    36.852211
2017-08-20    37.369442
2017-08-27    37.300640
2017-09-03    38.311394
2017-09-10    37.637558
2017-09-17    37.554512
2017-09-24    36.038380
2017-10-01    35.720451
2017-10-08    36.415638
2017-10-15    36.975586
2017-10-22    37.008797
2017-10-29    37.053890
2017-11-05    39.557037
2017-11-12    41.343658
2017-11-19    40.261219
2017-11-26    40.475513
2017-12-03    40.356453
2017-12-10    40.244541
2017-12-17    40.885078
2017-12-24    41.516094
2017-12-31    40.296925
Freq: W-SUN, Name: Close, dtype: float64

Often we want to calculate monthly returns of a stock, based on prices on the last day of each month. To fetch those prices, we use the series.resample.agg() method:

In [20]:
last_day = aapl.resample('M').agg(lambda x: x[-1])
print(last_day) #Imprime el último valor de cada mes

Date
2017-01-31    28.438456
2017-02-28    32.242893
2017-03-31    33.812794
2017-04-30    33.810432
2017-05-31    36.103024
2017-06-30    34.037430
2017-07-31    35.150589
2017-08-31    38.911674
2017-09-30    36.567490
2017-10-31    40.107498
2017-11-30    40.920803
2017-12-31    40.296925
Freq: M, Name: Close, dtype: float64

Or directly calculate the monthly rates of return using the data for the first day and the last day:

In [23]:
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(monthly_return) #Imprime la tasa de rendimiento de cada mes

Date
2017-01-31    0.044770
2017-02-28    0.068613
2017-03-31    0.027685
2017-04-30   -0.000348
2017-05-31    0.046462
2017-06-30   -0.059799
2017-07-31    0.036446
2017-08-31    0.097261
2017-09-30   -0.060530
2017-10-31    0.099018
2017-11-30    0.033422
2017-12-31   -0.010640
Freq: M, Name: Close, dtype: float64

Series object also provides us some convenient methods to do some quick calculation.

In [24]:
#Se realiza el cálculo del promedio, desviación estándar y máximo valor de la serie anterior
print(monthly_return.mean())
print(monthly_return.std())
print(monthly_return.max())

0.02686329517304976
0.05225851760305724
0.09901808017358604

Another two methods frequently used on Series are .diff() and .pct_change(). The former calculates the difference between consecutive elements, and the latter calculates the percentage change.

In [26]:
print(last_day.diff()) #Imprime la diferencia entre un mes y el anterior
print(last_day.pct_change()) #Imprime el porcentaje de esa diferencia

Date
2017-01-31         NaN
2017-02-28    3.804438
2017-03-31    1.569901
2017-04-30   -0.002361
2017-05-31    2.292591
2017-06-30   -2.065594
2017-07-31    1.113159
2017-08-31    3.761086
2017-09-30   -2.344185
2017-10-31    3.540009
2017-11-30    0.813305
2017-12-31   -0.623878
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

Notice that we induced a NaN value while calculating percentage changes i.e. returns.

When dealing with NaN values, we usually either removing the data point or fill it with a specific value. Here we fill it with 0:

In [27]:
daily_return = last_day.pct_change()
print(daily_return.fillna(0)) #Cambiamos el valor NaN por un 0

Date
2017-01-31    0.000000
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

Alternatively, we can fill a NaN with the next fitted value. This is called 'backward fill', or 'bfill' in short:

In [29]:
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill')) #Cambiamos el NaN por el siguiente valor que aparece

Date
2017-01-31    0.133778
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

As expected, since there is a 'backward fill' method, there must be a 'forward fill' method, or 'ffill' in short. However we can't use it here because the NaN is the first value.

We can also simply remove NaN values by **_.dropna()_**

In [30]:
daily_return = last_day.pct_change()
daily_return.dropna() #Eliminamos el valor NaN

Date
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

# DataFrame
The **DataFrame** is the most commonly used data structure in Pandas. It is essentially a table, just like an Excel spreadsheet.

More precisely, a DataFrame is a collection of Series objects, each of which may contain different data types. A DataFrame can be created from various data types: dictionary, 2-D numpy.ndarray, a Series or another DataFrame.

## Create DataFrames
The most common method of creating a DataFrame is passing a dictionary:

In [31]:
import pandas as pd

dict = {'AAPL': [143.5, 144.09, 142.73, 144.18, 143.77],'GOOG':[898.7, 911.71, 906.69, 918.59, 926.99],
        'IBM':[155.58, 153.67, 152.36, 152.94, 153.49]} #Se crea un diccionario con los valores necesarios
data_index = pd.date_range('2017-07-03',periods = 5, freq = 'D') #Se crean índices por fechas
df = pd.DataFrame(dict, index = data_index) #Se crea un dataframe del diccionario con tus correspondientes índices
print(df)

              AAPL    GOOG     IBM
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

## Manipulating DataFrames
We can fetch values in a DataFrame by columns and index. Each column in a DataFrame is essentially a Pandas Series. We can fetch a column by square brackets: **df['column_name']**

If a column name contains no spaces, then we can also use df.column_name to fetch a column:

In [37]:
df = aapl_table
#Imprime los 5 últimos valores de las columnas mencionadas
print(df.Close.tail(5))
print(df['Volume'].tail(5))

Date
2017-12-22    41.673252
2017-12-26    40.616013
2017-12-27    40.623154
2017-12-28    40.737457
2017-12-29    40.296925
Name: Close, dtype: float64
Date
2017-12-22     65397600
2017-12-26    132742000
2017-12-27     85992800
2017-12-28     65920800
2017-12-29    103999600
Name: Volume, dtype: int64

All the methods we applied to a Series index such as iloc[], loc[] and resampling methods, can also be applied to a DataFrame:

In [38]:
aapl_2016 = df['2016']
aapl_month = aapl_2016.resample('M').agg(lambda x: x[-1]) #Muestra lo últimos valores de cada mes
print(aapl_month)

                 Open       High        Low      Close     Volume  Dividends  \
Date
2016-01-31  21.730614  22.315201  21.629744  22.315201  257666000        0.0
2016-02-29  22.325650  22.641428  22.277247  22.286467  140865200        0.0
2016-03-31  25.289811  25.331300  25.096195  25.121550  103553600        0.0
2016-04-30  21.664136  21.832397  21.323005  21.606512  274126000        0.0
2016-05-31  23.096979  23.282497  22.916099  23.157272  169228800        0.0
2016-06-30  21.900390  22.208812  21.867924  22.169390  143345600        0.0
2016-07-31  24.161396  24.244879  24.043127  24.166033  110934800        0.0
2016-08-31  24.635014  24.847183  24.630350  24.737600  118649600        0.0
2016-09-30  26.220455  26.432626  26.066575  26.358017  145516400        0.0
2016-10-31  26.497914  26.633144  26.392994  26.472267  105677600        0.0
2016-11-30  26.153536  26.294146  25.841849  25.900436  144649200        0.0
2016-12-31  27.337011  27.465903  27.051103  27.142500  122345200        0.0

            Stock Splits
Date
2016-01-31             0
2016-02-29             0
2016-03-31             0
2016-04-30             0
2016-05-31             0
2016-06-30             0
2016-07-31             0
2016-08-31             0
2016-09-30             0
2016-10-31             0
2016-11-30             0
2016-12-31             0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  """Entry point for launching an IPython kernel.

We may select certain columns of a DataFrame using their names:

In [39]:
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close']]
print(aapl_bar) #Se imprimen únicamente las columnas que se necesitan

                 Open       High        Low      Close
Date
2016-01-31  21.730614  22.315201  21.629744  22.315201
2016-02-29  22.325650  22.641428  22.277247  22.286467
2016-03-31  25.289811  25.331300  25.096195  25.121550
2016-04-30  21.664136  21.832397  21.323005  21.606512
2016-05-31  23.096979  23.282497  22.916099  23.157272
2016-06-30  21.900390  22.208812  21.867924  22.169390
2016-07-31  24.161396  24.244879  24.043127  24.166033
2016-08-31  24.635014  24.847183  24.630350  24.737600
2016-09-30  26.220455  26.432626  26.066575  26.358017
2016-10-31  26.497914  26.633144  26.392994  26.472267
2016-11-30  26.153536  26.294146  25.841849  25.900436
2016-12-31  27.337011  27.465903  27.051103  27.142500

We can even specify both rows and columns using loc[]. The row indices and column names are separated by a comma:

In [40]:
#Se especifíca que la tabla vaya desde marzo hasta mayo y que sólo se muestren las columnas que se necesitan
print(aapl_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']])

                 Open       High        Low      Close
Date
2016-03-31  25.289811  25.331300  25.096195  25.121550
2016-04-30  21.664136  21.832397  21.323005  21.606512
2016-05-31  23.096979  23.282497  22.916099  23.157272
2016-06-30  21.900390  22.208812  21.867924  22.169390

The subset methods in DataFrame is quite useful. By writing logical statements in square brackets, we can make customized subsets:

In [41]:
import numpy as np

above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)] #Se crea un dataframe con las condiciones estadísticas que se requieran
print(above)

                 Open       High        Low      Close
Date
2016-03-31  25.289811  25.331300  25.096195  25.121550
2016-08-31  24.635014  24.847183  24.630350  24.737600
2016-09-30  26.220455  26.432626  26.066575  26.358017
2016-10-31  26.497914  26.633144  26.392994  26.472267
2016-11-30  26.153536  26.294146  25.841849  25.900436
2016-12-31  27.337011  27.465903  27.051103  27.142500

## Data Validation
As mentioned, all methods that apply to a Series can also be applied to a DataFrame. Here we add a new column to an existing DataFrame:

In [42]:
aapl_bar['rate_return'] = aapl_bar.Close.pct_change() #Se agrega la columna de tasa de rendimiento que guardará los valores del porcentaje de cambio anual
print(aapl_bar)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.730614  22.315201  21.629744  22.315201          NaN
2016-02-29  22.325650  22.641428  22.277247  22.286467    -0.001288
2016-03-31  25.289811  25.331300  25.096195  25.121550     0.127211
2016-04-30  21.664136  21.832397  21.323005  21.606512    -0.139921
2016-05-31  23.096979  23.282497  22.916099  23.157272     0.071773
2016-06-30  21.900390  22.208812  21.867924  22.169390    -0.042660
2016-07-31  24.161396  24.244879  24.043127  24.166033     0.090063
2016-08-31  24.635014  24.847183  24.630350  24.737600     0.023652
2016-09-30  26.220455  26.432626  26.066575  26.358017     0.065504
2016-10-31  26.497914  26.633144  26.392994  26.472267     0.004335
2016-11-30  26.153536  26.294146  25.841849  25.900436    -0.021601
2016-12-31  27.337011  27.465903  27.051103  27.142500     0.047955

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Here the calculation introduced a NaN value. If the DataFrame is large, we would not be able to observe it. **isnull()** provides a convenient way to check abnormal values.

In [43]:
#Con la función isnull revisamos si hay valores anormales en el dataframe
missing = aapl_bar.isnull()
print(missing)
print('---------------------------------------------')
print(missing.describe()) #Se realiza un resumen estadístico de los valores anormales

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

The row labelled "unique" indicates the number of unique values in each column. Since the "rate_return" column has 2 unique values, it has at least one missing value.

We can deduce the number of missing values by comparing "count" with "freq". There are 12 counts and 11 False values, so there is one True value which corresponds to the missing value.

We can also find the rows with missing values easily:

In [45]:
print(missing[missing.rate_return == True]) #Imprime la fila que tiene valores perdidos

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True

Usually when dealing with missing data, we either delete the whole row or fill it with some value. As we introduced in the Series chapter, the same method **dropna()** and **fillna()** can be applied to a DataFrame.

In [46]:
drop = aapl_bar.dropna() #Eliminamos los valores NaN
print(drop)
print('\n--------------------------------------------------\n')
fill = aapl_bar.fillna(0) #Reemplazamos los valores NaN por 0
print(fill)

                 Open       High        Low      Close  rate_return
Date
2016-02-29  22.325650  22.641428  22.277247  22.286467    -0.001288
2016-03-31  25.289811  25.331300  25.096195  25.121550     0.127211
2016-04-30  21.664136  21.832397  21.323005  21.606512    -0.139921
2016-05-31  23.096979  23.282497  22.916099  23.157272     0.071773
2016-06-30  21.900390  22.208812  21.867924  22.169390    -0.042660
2016-07-31  24.161396  24.244879  24.043127  24.166033     0.090063
2016-08-31  24.635014  24.847183  24.630350  24.737600     0.023652
2016-09-30  26.220455  26.432626  26.066575  26.358017     0.065504
2016-10-31  26.497914  26.633144  26.392994  26.472267     0.004335
2016-11-30  26.153536  26.294146  25.841849  25.900436    -0.021601
2016-12-31  27.337011  27.465903  27.051103  27.142500     0.047955

--------------------------------------------------

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.730614  22.315201  21.629744  22.315201     0.000000
2016-02-29  22.325650  22.641428  22.277247  22.286467    -0.001288
2016-03-31  25.289811  25.331300  25.096195  25.121550     0.127211
2016-04-30  21.664136  21.832397  21.323005  21.606512    -0.139921
2016-05-31  23.096979  23.282497  22.916099  23.157272     0.071773
2016-06-30  21.900390  22.208812  21.867924  22.169390    -0.042660
2016-07-31  24.161396  24.244879  24.043127  24.166033     0.090063
2016-08-31  24.635014  24.847183  24.630350  24.737600     0.023652
2016-09-30  26.220455  26.432626  26.066575  26.358017     0.065504
2016-10-31  26.497914  26.633144  26.392994  26.472267     0.004335
2016-11-30  26.153536  26.294146  25.841849  25.900436    -0.021601
2016-12-31  27.337011  27.465903  27.051103  27.142500     0.047955

## DataFrame Concat
We have seen how to extract a Series from a dataFrame. Now we need to consider how to merge a Series or a DataFrame into another one.

In Pandas, the function **concat()** allows us to merge multiple Series into a DataFrame:

In [49]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
data_frame = pd.concat([s1,s2], axis = 1) #Se concatenan ambas series en un mismo dataframe y se especifíca que se van a unir como dos columnas
print(data_frame)

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

The "axis = 1" parameter will join two DataFrames by columns:

In [50]:
log_price = np.log(aapl_bar.Close)
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([aapl_bar, log_price], axis = 1) #Se concatena una nueva serie con los logaritmos naturales de los precios de cierre
print(concat)

Date
2016-01-31    3.105268
2016-02-29    3.103980
2016-03-31    3.223726
2016-04-30    3.072995
2016-05-31    3.142309
2016-06-30    3.098712
2016-07-31    3.184948
2016-08-31    3.208324
2016-09-30    3.271772
2016-10-31    3.276098
2016-11-30    3.254260
2016-12-31    3.301101
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low      Close  rate_return  log_price
Date
2016-01-31  21.730614  22.315201  21.629744  22.315201          NaN   3.105268
2016-02-29  22.325650  22.641428  22.277247  22.286467    -0.001288   3.103980
2016-03-31  25.289811  25.331300  25.096195  25.121550     0.127211   3.223726
2016-04-30  21.664136  21.832397  21.323005  21.606512    -0.139921   3.072995
2016-05-31  23.096979  23.282497  22.916099  23.157272     0.071773   3.142309
2016-06-30  21.900390  22.208812  21.867924  22.169390    -0.042660   3.098712
2016-07-31  24.161396  24.244879  24.043127  24.166033     0.090063   3.184948
2016-08-31  24.635014  24.847183  24.630350  24.737600     0.023652   3.208324
2016-09-30  26.220455  26.432626  26.066575  26.358017     0.065504   3.271772
2016-10-31  26.497914  26.633144  26.392994  26.472267     0.004335   3.276098
2016-11-30  26.153536  26.294146  25.841849  25.900436    -0.021601   3.254260
2016-12-31  27.337011  27.465903  27.051103  27.142500     0.047955   3.301101

We can also join two DataFrames by rows. Consider these two DataFrames:

In [51]:
#Se crean dos dataframe con los últimos valores de cada mes 
df_volume = aapl_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = aapl_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0
2017-01-31  196804000             0
2017-02-28   93931600             0
2017-03-31   78646800             0
2017-04-30   83441600             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2016-10-31  26.497914  26.633144  26.392994  26.472267
2016-11-30  26.153536  26.294146  25.841849  25.900436
2016-12-31  27.337011  27.465903  27.051103  27.142500
2017-01-31  28.391586  28.447830  28.267381  28.438456
2017-02-28  32.264075  32.348808  32.174635  32.242893
2017-03-31  33.826915  33.956368  33.659803  33.812794
2017-04-30  33.913994  33.963423  33.720996  33.810432

Now we merge the DataFrames with our DataFrame 'aapl_bar'

In [52]:
concat = pd.concat([aapl_bar, df_volume], axis = 1) #Se concatena el dataframe creado con el original
print(concat)

                 Open       High        Low      Close  rate_return  \
Date
2016-01-31  21.730614  22.315201  21.629744  22.315201          NaN
2016-02-29  22.325650  22.641428  22.277247  22.286467    -0.001288
2016-03-31  25.289811  25.331300  25.096195  25.121550     0.127211
2016-04-30  21.664136  21.832397  21.323005  21.606512    -0.139921
2016-05-31  23.096979  23.282497  22.916099  23.157272     0.071773
2016-06-30  21.900390  22.208812  21.867924  22.169390    -0.042660
2016-07-31  24.161396  24.244879  24.043127  24.166033     0.090063
2016-08-31  24.635014  24.847183  24.630350  24.737600     0.023652
2016-09-30  26.220455  26.432626  26.066575  26.358017     0.065504
2016-10-31  26.497914  26.633144  26.392994  26.472267     0.004335
2016-11-30  26.153536  26.294146  25.841849  25.900436    -0.021601
2016-12-31  27.337011  27.465903  27.051103  27.142500     0.047955
2017-01-31        NaN        NaN        NaN        NaN          NaN
2017-02-28        NaN        NaN        NaN        NaN          NaN
2017-03-31        NaN        NaN        NaN        NaN          NaN
2017-04-30        NaN        NaN        NaN        NaN          NaN

                 Volume  Stock Splits
Date
2016-01-31          NaN           NaN
2016-02-29          NaN           NaN
2016-03-31          NaN           NaN
2016-04-30          NaN           NaN
2016-05-31          NaN           NaN
2016-06-30          NaN           NaN
2016-07-31          NaN           NaN
2016-08-31          NaN           NaN
2016-09-30          NaN           NaN
2016-10-31  105677600.0           0.0
2016-11-30  144649200.0           0.0
2016-12-31  122345200.0           0.0
2017-01-31  196804000.0           0.0
2017-02-28   93931600.0           0.0
2017-03-31   78646800.0           0.0
2017-04-30   83441600.0           0.0

By default the DataFrame are joined with all of the data. This default options results in zero information loss. We can also merge them by intersection, this is called 'inner join

In [56]:
concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'inner') #Se realiza la intersección sólo con los datos en común
print(concat)

                 Open       High        Low      Close  rate_return  \
Date
2016-10-31  26.497914  26.633144  26.392994  26.472267     0.004335
2016-11-30  26.153536  26.294146  25.841849  25.900436    -0.021601
2016-12-31  27.337011  27.465903  27.051103  27.142500     0.047955

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0

Only the intersection part was left if use 'inner join' method. Now let's try to append a DataFrame to another one:

In [58]:
append = aapl_bar.append(df_2017) #Append es el equivalente a realizar la concatenación con axis=0
print(append)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.730614  22.315201  21.629744  22.315201          NaN
2016-02-29  22.325650  22.641428  22.277247  22.286467    -0.001288
2016-03-31  25.289811  25.331300  25.096195  25.121550     0.127211
2016-04-30  21.664136  21.832397  21.323005  21.606512    -0.139921
2016-05-31  23.096979  23.282497  22.916099  23.157272     0.071773
2016-06-30  21.900390  22.208812  21.867924  22.169390    -0.042660
2016-07-31  24.161396  24.244879  24.043127  24.166033     0.090063
2016-08-31  24.635014  24.847183  24.630350  24.737600     0.023652
2016-09-30  26.220455  26.432626  26.066575  26.358017     0.065504
2016-10-31  26.497914  26.633144  26.392994  26.472267     0.004335
2016-11-30  26.153536  26.294146  25.841849  25.900436    -0.021601
2016-12-31  27.337011  27.465903  27.051103  27.142500     0.047955
2016-10-31  26.497914  26.633144  26.392994  26.472267          NaN
2016-11-30  26.153536  26.294146  25.841849  25.900436          NaN
2016-12-31  27.337011  27.465903  27.051103  27.142500          NaN
2017-01-31  28.391586  28.447830  28.267381  28.438456          NaN
2017-02-28  32.264075  32.348808  32.174635  32.242893          NaN
2017-03-31  33.826915  33.956368  33.659803  33.812794          NaN
2017-04-30  33.913994  33.963423  33.720996  33.810432          NaN

'Append' is essentially to concat two DataFrames by axis = 0, thus here is an alternative way to append:

In [61]:
concat = pd.concat([aapl_bar, df_2017], axis = 0) #Equivalente a append
print(concat)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.730614  22.315201  21.629744  22.315201          NaN
2016-02-29  22.325650  22.641428  22.277247  22.286467    -0.001288
2016-03-31  25.289811  25.331300  25.096195  25.121550     0.127211
2016-04-30  21.664136  21.832397  21.323005  21.606512    -0.139921
2016-05-31  23.096979  23.282497  22.916099  23.157272     0.071773
2016-06-30  21.900390  22.208812  21.867924  22.169390    -0.042660
2016-07-31  24.161396  24.244879  24.043127  24.166033     0.090063
2016-08-31  24.635014  24.847183  24.630350  24.737600     0.023652
2016-09-30  26.220455  26.432626  26.066575  26.358017     0.065504
2016-10-31  26.497914  26.633144  26.392994  26.472267     0.004335
2016-11-30  26.153536  26.294146  25.841849  25.900436    -0.021601
2016-12-31  27.337011  27.465903  27.051103  27.142500     0.047955
2016-10-31  26.497914  26.633144  26.392994  26.472267          NaN
2016-11-30  26.153536  26.294146  25.841849  25.900436          NaN
2016-12-31  27.337011  27.465903  27.051103  27.142500          NaN
2017-01-31  28.391586  28.447830  28.267381  28.438456          NaN
2017-02-28  32.264075  32.348808  32.174635  32.242893          NaN
2017-03-31  33.826915  33.956368  33.659803  33.812794          NaN
2017-04-30  33.913994  33.963423  33.720996  33.810432          NaN

Please note that if the two DataFrame have some columns with the same column names, these columns are considered to be the same and will be merged. It's very important to have the right column names. If we change a column names here:

In [63]:
df_2017.columns = ['Change', 'High','Low','Close'] #Al tener los nombres de columnas distintos, estos no se fusionarán
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return     Change
Date
2016-01-31  21.730614  22.315201  21.629744  22.315201          NaN        NaN
2016-02-29  22.325650  22.641428  22.277247  22.286467    -0.001288        NaN
2016-03-31  25.289811  25.331300  25.096195  25.121550     0.127211        NaN
2016-04-30  21.664136  21.832397  21.323005  21.606512    -0.139921        NaN
2016-05-31  23.096979  23.282497  22.916099  23.157272     0.071773        NaN
2016-06-30  21.900390  22.208812  21.867924  22.169390    -0.042660        NaN
2016-07-31  24.161396  24.244879  24.043127  24.166033     0.090063        NaN
2016-08-31  24.635014  24.847183  24.630350  24.737600     0.023652        NaN
2016-09-30  26.220455  26.432626  26.066575  26.358017     0.065504        NaN
2016-10-31  26.497914  26.633144  26.392994  26.472267     0.004335        NaN
2016-11-30  26.153536  26.294146  25.841849  25.900436    -0.021601        NaN
2016-12-31  27.337011  27.465903  27.051103  27.142500     0.047955        NaN
2016-10-31        NaN  26.633144  26.392994  26.472267          NaN  26.497914
2016-11-30        NaN  26.294146  25.841849  25.900436          NaN  26.153536
2016-12-31        NaN  27.465903  27.051103  27.142500          NaN  27.337011
2017-01-31        NaN  28.447830  28.267381  28.438456          NaN  28.391586
2017-02-28        NaN  32.348808  32.174635  32.242893          NaN  32.264075
2017-03-31        NaN  33.956368  33.659803  33.812794          NaN  33.826915
2017-04-30        NaN  33.963423  33.720996  33.810432          NaN  33.913994

Since the column name of 'Open' has been changed, the new DataFrame has an new column named 'Change'.

# Summary

Hereby we introduced the most import part of python: resampling and DataFrame manipulation. We only introduced the most commonly used method in Financial data analysis. There are also many methods used in data mining, which are also beneficial. You can always check the [Pandas](https://pandas.pydata.org/pandas-docs/stable/index.html) official documentations for help.